name: stac-fastapi-mongo

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      - features/**

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    services:
      mongo_db_service:
        image: mongo:7.0.5
        env:
          MONGO_INITDB_ROOT_USERNAME: root
          MONGO_INITDB_ROOT_PASSWORD: example
        ports:
          - 27017:27017

    strategy:
      matrix:
        python-version: [ "3.8", "3.9", "3.10", "3.11"]

    name: Python ${{ matrix.python-version }} testing

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      # Setup Python (faster than using Python container)
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Lint code
        uses: pre-commit/action@v3.0.1

      - name: Install pipenv
        run: |
          python -m pip install --upgrade pipenv wheel

      - name: Install stac-fastapi-mongo
        run: |
          pip install .[dev,server]

      - name: Run test suite against Mongo
        run: |
          pipenv run pytest -k "not basic_auth" -svvv
        env:
          MONGO_HOST: 172.17.0.1
          BACKEND: mongo
          APP_HOST: 0.0.0.0
          APP_PORT: 8084
          ENVIRONMENT: testing
          MONGO_DB: stac
          MONGO_USER: root
          MONGO_PASS: example
          MONGO_PORT: 27017